/*Jessie*/
/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root {
  /* Design dunkel */
  --HintergrundDunkel: rgb();
  --SchriftfarbeDunkel: rgb();
  --HintergrundBildDunkel: url("assets\images\background.jpg");
  /* Design hell */
  --HintergrudHell: rgb();
  --SchriftfarbeHell: rgb();
}


.header {
  position: relative;
}

html {
  background-image: var(--HintergrundBildDunkel);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}






