<!-- Jessie (angelegt Jannik) -->
<div class="content">
  <div class="header">
    <div class="place"></div>
    <div class="headerContent">
      <h1> {{ 'ABOUT_US.heading1' | translate }} </h1>
      <p>
        {{ 'ABOUT_US.text1' | translate }}
        <br>
        {{ 'ABOUT_US.text2' | translate }}
      </p>
    </div>
  </div>
  <div class="philosophie">
    <h2> {{ 'ABOUT_US.heading2' | translate }}</h2>
    <div>
      <div class="text">
        <p>
          {{ 'ABOUT_US.text3' | translate }}<br>
          <br>
          {{ 'ABOUT_US.text4' | translate }}<br>
          <br>
        </p>
      </div>
    </div>
    <div class="image">
      <img id="pic1" src="..\..\assets\images\essen-grill-lebensmittel-1414814.jpg" alt="Grillfleisch">
    </div>
    <p>
      <br>
      {{ 'ABOUT_US.text5' | translate }}<br>
      <br>
      {{ 'ABOUT_US.text6' | translate }}
      <br>
      <img id="pic2" src="..\..\assets\images\holzkohle.jpg" alt="brennender Grill">
    </p>
  </div>
  <div class="historie">
    <h2> Historie</h2>
    <p>
      Jede Erfolgsgeschichte beginnt mit einer brillanten Idee.
    </p>
    <img id="pic3" src="..\..\assets\images\the-family.jpg" alt="Personengruppe">
  </div>
</div>