/* Jessie */
a {
  color: rgb(54,54,54);
  font-weight: 600;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(72, 145, 224, 1);
}
div {
  padding: 2em;
}
.bold {
  font-weight: 600;
}
.big {
  font-size: 20px;
}
.content {
  text-align: center;
  background-color: rgba(255,255,255,.85);
  padding: 2em;
  color: rgb(54,54,54);
}
.place {
  height: 90px;
}
